<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">


    <h2>User info</h2>
    <%= form_with model: @user, url:update_user_path(@user.id), method: :patch do |f| %>

    <label for="user_name">Name</label>
    <div>
    <%= f.text_field :name %>
    </div>

    <div>
      <label for="user_image">image</label>
      <div>
      <%= f.file_field :image, accept: "image/*" %>
      </div>
      <!--<input class="form-control-file user_image" accept="image/*" type="file" name="user[profile_image]" id="user_profile_image">-->
    </div>

    <label for="user_introduction">Introduction</label>
    <div>
    <%= f.text_area :introduction %>
    </div>

   <div>
    <%= f.submit 'Update User' ,class: "btn btn-secondary"%>
   </div>

    <!--<div class="form-group">-->
      <!--<input type="submit" name="commit" value="Update User" class="btn btn-secondary" date-disable-with="Update User">-->
    <!--</div>-->
     </div>
</div>

      </div>
<% end %>